  <%- include('includes/header') %>
  <%- include('includes/sidebar') %>
  <%- include('includes/topbar') %>

   

  


  <%- include('includes/flash') %>
  <div class="text-center card" style="width: 18rem; margin-left: 550px;">
    <div class="card-header">
      Buildings
      <button type="button" class="btn btn-default" aria-label="Left Align">
      <a href="/post/<%= post._id %>/edit"><i class="fas fa-edit"></i></a>  
      </button>

      <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
      </form>
    </div>
   
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Building Name: <%= post.name %></li>
      <li class="list-group-item">Address: <%= post.address %></li>
      <li class="list-group-item">Created By: <%= post.author.username %></li>
      <li class="list-group-item">Date: <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %>.</li>
    </ul>
  </div>

  

 
   
  <!-- footer begins -->
 
<%- include('includes/footer') %>
<%- include('includes/scripts') %>