<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>


<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>

  <p><strong>Total Buildings per page: <%= posts.length %></strong></p>

  <div class="list-group">
    <% posts.forEach(function(post) { %>
      <a href="/post/<%= post._id %>"  class="list-group-item list-group-item-action">
    
      <!-- <img class="avatar-tiny" src="https://gravatar.com/avatar/b9408a09298632b5151200f3449434ef?s=128"> -->
      <strong><%= post.name %></strong>
      <!-- on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %> -->

    </a>
    <%  }) %>

    
  </div>

  <br>

  <div>
     
    <% if (pageCount > 0) { %>
      <ul class="pagination justify-content-center">
          <% if (currentPage == 1) { %>
              <li class="disabled page-item"><a class="page-link" href="/list-buildings/<%= profileUsername %>">First</a></li>
          <% } else { %>
             
              <li class="page-item"><a class="page-link" href="/list-buildings/<%= profileUsername %>">First</a></li>
          <% } %>
          <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
          <% if (i !== 1) { %>
              <li class="disabled page-item"><a class="page-link">...</a></li>
          <% } %>
          <% for (; i <= (Number(currentPage) + 4) && i <= pageCount; i++) { %>
              <% if (i == currentPage) { %>
                  <li class="active page-item"><a class="page-link"><%= i %></a></li>
              <% } else { %>
                 
                  <li class="page-item"><a class="page-link" href="/list-buildings/<%= profileUsername %>?page=<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(currentPage) + 4 && i < pageCount) { %>
                  <li class="disabled page-item"><a class="page-link">...</a></li>
              <% } %>
          <% } %>
          <% if (currentPage == pageCount) { %>
              <li class="disabled page-item"><a class="page-link">Last</a></li>
          <% } else { %>
              
              <li class="page-item"><a class="page-link" href="/list-buildings/<%= profileUsername %>?page=<%= i %>">Last</a></li>
          <% } %>
      </ul>
  <% } %>

  
</div>

</div>



<%- include('includes/footer') %>
<%- include('includes/scripts') %>