<%- include('includes/header') %>
<%- include('includes/sidebar') %>
<%- include('includes/topbar') %>


<!-- Begin Page Content -->
<div class="container-fluid-map">

  <!-- Page Heading -->


  <!-- Content Row -->
  <div class="row-map">

  

      <div id="map"></div>


      
        <nav class="nav flex-column floor-btn">
          <a class="nav-link active btn btn-primary btn-circle btn-lg" href="#"><%= layers.floor %></a>
        </nav>
      


      
      
        
        
        
   
  </div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer ">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; VimAI 2020</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</div>



</div>

<script>
  mapboxgl.accessToken = '<%= mapBoxToken %>';
  var layers = <%- JSON.stringify(layers) %>;


  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: (layers.coordinates),
    zoom: 16
  });


var image = map.on('load', function() {
      map.loadImage(
        '<%= layers.images[0].url %>',
        function(error, image) {
          if (error) throw error;
              map.addImage('layer', image);
              map.addSource('point', {
                'type': 'geojson',
                'data': {
                'type': 'FeatureCollection',
                'features': [
              {
                'type': 'Feature',
                'geometry': {
                'type': 'Point',
                'coordinates': (layers.coordinates)
                            }
                          }
                        ]
                      }
                    });
              map.addLayer({
                'id': 'points',
                'type': 'symbol',
                'source': 'point',
                'layout': {
                'icon-image': 'layer',
                'icon-size': 1.05
                          }
                      });
                    }
                  );
              });

var marker = new mapboxgl.image({
draggable: true
})
.setLngLat([0, 0])
.addTo(map);
 
function onDragEnd() {
var lngLat = marker.getLngLat();
coordinates.style.display = 'block';
coordinates.innerHTML =
'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
}
 
marker.on('dragend', onDragEnd);



</script>

<%- include('includes/scripts') %>







